@import url('https://fonts.googleapis.com/css?family=Amatic+SC:700&display=swap');

html {
  font-size: 10px;
  background: #ffc600;
}

body {
  text-align: center;
  font-family: 'Amatic SC', cursive;
}

h1 {
  font-size: 10rem;
}

.score {
  background: red;
  padding: 0 3rem;
  margin-left: 2rem;
  border-radius: 1rem;
}

.game {
  display: flex;
  flex-wrap: wrap;
  padding-top: 100px;
  height: 400px;
}

.hole {
  flex: 1 0 33.33%;
  background: url('dirt4.png') bottom center no-repeat;
  height: 90px;
  background-size: contain;
}
