@import url('https://fonts.googleapis.com/css?family=Amatic+SC:700&display=swap');

html {
background: #ffc600;
}

body {
  text-align: center;
  font-family: 'Amatic SC', cursive;
}

h1 {
  font-size: 100px:
}

.game {
  padding-top: 100px;
  height: 400px;
  display: flex;
  flex-wrap: wrap;
}

.hole {
  flex: 1 0 33.33%;
  background: url('dirt4.png') bottom center no-repeat;
  height: 90px;
  background-size: contain;
}
