@import url('https://fonts.googleapis.com/css?family=Amatic+SC:700&display=swap');

html {
background: #ffc600;
}

body {
  text-align: center;
  font-family: 'Amatic SC', cursive;
}

h1 {
  font-size: 100px:
}
